<h1 class="text-center">Editing Vote Poll</h1>

<%= render 'form', vote_poll: @vote_poll %>

<%= link_to 'Show', admin_vote_poll_path, class: 'btn btn-primary' %> |
<%= link_to 'Back', admin_vote_polls_path,  class: 'btn btn-info', style: 'height:20%;width:10%';  %>
