<p id="notice"><%= notice %></p>

<p>
  <strong>Category name:</strong>
  <%= @category.category_name %>
</p>

<%= link_to 'Edit', edit_category_path(@category), :class=>'btn btn-warning' %> &nbsp;&nbsp;
<%= link_to 'Back', categories_path , class: 'btn btn-primary'%>
